/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/doc/Makefile.in
/doc/openi18n/Makefile.in
/doc/reference/Makefile.in
/glade/Makefile.in
/gnome-pty-helper/Makefile.in
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/perf/Makefile.in
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-it
/po/vte-2.90.pot
/so_locations
/src/Makefile.in
/stamp-h1
/tags
/termcaps/Makefile.in
/vte-2.90.pc
/xmldocs.make
