*.lo
.libs
/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/dumpkeys
/interpret
/iso2022
/libvte2_90.la
/marshal.c
/marshal.h
/mev
/reaper
/reflect-text-view
/reflect-vte
/slowcat
/so_locations
/ssfe
/stamp-vtetypebuiltins.h
/table
/tags
/trie
/vte.gresource.xml
/vte2_90
/vteconv
/vteresources.c
/vteseq-2.c
/vteseq-list.h
/vteseq-n.c
/vtetc
/vtetypebuiltins.c
/vtetypebuiltins.h
/vteversion.h
/xticker
_libs
