/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/vte-unused.sgml
/version.xml
/vte-decl-list.txt
/vte-decl.txt
/vte-undeclared.txt
/vte-undocumented.txt
/vte-unused.txt
/vte.args
/vte.hierarchy
/vte.interfaces
/vte.prerequisites
/vte.signals
/xml
